*
	margin 0
	padding 0
html, body
	height 100%
	ul, li
			list-style none
	.wrapper
		position absolute
		left 50%
		top 50%
		width 800px
		height 500px
		margin -250px 0 0 -400px
		overflow auto
		background-color #fff
		border 1px solid #e5e5e5
		